/* COLORS AND FONT STYLES

DARK BG COLOR (HERO AND FOOTER): #1F2937
HERO MAIN TEXT: 48PX EXTRA BOLD #F9FAF8
HERO SECONDARY AND HEADER LINK TEXT: 18PX #E5E7EB
HEADER LOGO: 24PX #F9FAF8

BUTTON COLOR AND CTA BG COLOR: #38826F
INFO HEADER TEXT: 36PX #1F2937

QUOTE SECTION BG COLOR #E5E7EB
QUOTE TEXT 36PX LIGHT ITALIC #1F2937

*/


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.nav {
    color: #f9faf8;
    background-color: #1f2937;
}

.navbar {
    width: 1200px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links > ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 80px;
} 

.hero {
    background-color: #1f2937;

}

.hero-flex {
    padding: 100px 0;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-basis: 0;  
}

.hero-text {
    flex: 1;
}

.hero-h1 {
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-h2 {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-button {
    font-size: 20px;
    padding: 8px 16px;
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
}

.hero-img {
    flex: 1;
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

.content {
    margin: 150px auto;
}

.info-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin-bottom: 80px;
}

.content-flex {
    display: flex;
    justify-content: space-between;
}

.skill {
    width: 200px;
    text-align: center;
}

.skill-img > img {
    width: 125px;
    margin-bottom: 25px;
}

.testimonials {
    background-color: #E5E7EB;
    padding: 150px;
}

.testimonials-flex {
    display: flex;
    flex-direction: column;
}

.testimonials-text {
    width: 1000px;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.testimonial-name {
    font-size: 18px;
    font-weight: 700;
    margin-right: 150px;
    align-self: flex-end;
}

.cta-flex {
    background-color: #3882F6;
    margin: 150px 0;
    padding: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.cta-h1 {
    color: #f9faf8;
    font-weight: 700;
}

.cta-h2 {
    color: #E5E7EB;
    font-weight: light;
}

.cta-button {
    font-size: 20px;
    padding: 8px 16px;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    background-color: transparent;
    border-radius: 4px;
}

.footer {
    background-color: #1f2937;
    padding: 50px;
}

.footer-text {
    color: #E5E7EB;
    text-align: center;
}



